.bg-light {
    background-color: brown !important;

}
.navbar-light .navbar-nav .nav-link {
  color: white !important;
  font-weight:900;
}
.product{
  color:white !important;
  font-weight:900;
}
.menu-icon{
  background-color:white!important;

}
.diff{
  margin-top:100px;
}
.container{
  margin-top:50px;
  max-width: 100%
}
.col{
  border: 1px solid red;
}
